:root{
    --bg-screen: #4d2e0c;
    --button: #8b4513; 
    --txt-screen: #ffffff; 


}

body, html {
    height: 95%;
    margin: 0;
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    z-index: 999;
}

.header h1 {
    margin: 0;
    text-align: center;
    flex-grow: 1;
    font-size: 50px;
    color: #8B4513; /* Cor marrom para combinar com o fundo de madeira */
    font-family: 'Roboto', sans-serif; /* Fonte moderna */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adiciona sombra para dar profundidade */
}


.info-button {
    display: flex;
    position: absolute;
    z-index: 1000;
    cursor: pointer;
    color: #69340e; 
    font-size: 40px;
    background-color: transparent;
    border: none;
}

.info-button:focus {
    outline: none;
}

.info-button:hover {
    color: #A0522D; 
    transition: color 0.3s; 
}

.menu-button {
    display: none;
    position: absolute;
    left: 95%;
    z-index: 1000;
    cursor: pointer;
    color: #69340e; 
    font-size: 40px;
    background-color: transparent;
    border: none;
}

.menu-button:focus {
    outline: none;
}

.menu-button:hover {
    color: #A0522D; 
    transition: color 0.3s; 
}

#welcome-screen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color:var(--bg-screen);
    color: var(--txt-screen);
    padding: 40px;
    border: 2px solid var(--button);
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    z-index: 999999;
}

#welcome-screen h2 {
    margin-bottom: 30px;
    font-size: 24px;
}

#welcome-screen button {
    font-size: 20px;
    padding: 15px 30px;
    background-color: var(--button);
    color: var(--txt-screen);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 999999;
    transition: all .45s ease;
}

#welcome-screen button:hover {
    transform: scale(.9);
}

#menu-screen {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bg-screen);
    padding: 20px;
    border: 2px solid var(--button);
    border-radius: 10px;
    text-align: center;
    z-index: 999999;
}

#menu-screen button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: var(--button);
    color: var(--txt-screen);
    border: 2px solid var(--button);
    border-radius: 10px;
    cursor: pointer;
    transition: all .45s ease;
}

#menu-screen button:hover {
    transform: scale(.9);
}

#info-screen{
    display: none; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    color: var(--txt-screen);
    background-color: var(--bg-screen);
    border: 2px solid var(--button);
    border-radius: 10px; 
    padding: 20px;
    z-index: 8888888;
}

  .close-info {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 99999999; 
    cursor: pointer;
    color: #333;
    font-size: 20px;
    background-color: transparent;
    color: var(--txt-screen);
    border: none;
  }
  .close-info:focus {
    outline: none;
  }

.container {
    padding: 50px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#turn-display {
    color: var(--txt-screen);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 30px;
    margin: 20px;
    z-index: 9999;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.5s ease; 
}

.board {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    border: 5px solid black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.cell {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dark {
    background-color: #8B4513;
}

.light {
    background-color: #FFDAB9;
}

.piece {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    position: relative;
}

.crown-icon {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    color: gold; 
    border: 5px #000;
}


.red {
    background-color: red;
}

.black {
    background-color: black;
}

.selected {
    border: 2px solid rgb(255, 255, 255);
}


.wins-panel {
    background-color: var(--bg-screen);
    width: 400px;
    height: 100px;
    flex-direction: column;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: var(--txt-screen);
}

.wins-panel h2 {
    margin-top: 0;
    text-align: center;
}

.content-score {
    display: flex;
    justify-content: space-between;
}

.red-wins, .black-wins {
    font-weight: bold;
}

.red-wins::before, .black-wins::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
}

.red-wins::before {
    background-color: #ff0000; /* Vermelho para o jogador vermelho */
}

.black-wins::before {
    background-color: #000; /* Preto para o jogador preto */

}
@media (max-width: 920px) {
    .header{
        width: 80%;
    }
    
    .header h1{
        font-size: 30px;
    }

    #welcome-screen{
        width: 55%;
        font-size: 15px;
    }
    
    #info-screen{
        width: 70%;
        font-size: 15px;
    }

    #menu-screen{
        width: 65%;
    }


    #turn-display{
        font-size: 23px;
        width: 65%;
    }

    .board {
        width: 300px;
        height: 300px
    }
    
    .cell {
        width: 37.515px;
        height: 37.515px;
    }
    .wins-panel {
        width: 80%;
        margin: 20px auto; 
    }
}