:root{
    --bg-screen:#3F3F3F;
    --button:#008000;
    --txt-screen:#FFFFFF;


}

body, html {
    height: 100%;
    margin: 0;
}

#turn-display {
    color:var(--txt-screen);
    padding: 10px 10px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 30px;
    margin: 20px;
    z-index: 9999; 
}

#welcome-screen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color:var(--bg-screen);
    color: var(--txt-screen);
    padding: 20px;
    border: 2px solid var(--button);
    border-radius: 10px;
    z-index: 999999;
}

#welcome-screen h2 {
    margin-bottom: 20px;
}

#welcome-screen button {
    font-size: 18px;
    padding: 10px 20px;
    background-color: var(--button);
    color: var(--txt-screen);
    border: 2px solid var(--button);
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 999999;
}

#welcome-screen button:hover {
    background-color: #45a049;
}

#menu-screen {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bg-screen);
    padding: 20px;
    border: 2px solid var(--button);
    border-radius: 10px;
    text-align: center;
    z-index: 999999;
}

#menu-screen button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: var(--button);
    color: var(--txt-screen);
    border: 2px solid var(--button);
    border-radius: 10px;
    cursor: pointer;
}

#menu-screen button:hover {
    background-color: #45a049;
}

#info-screen{
    display: none; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    color: var(--txt-screen);
    background-color: var(--bg-screen);
    border: 2px solid var(--button);
    border-radius: 10px; 
    padding: 20px;
    z-index: 8888888;
}

.info-button {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
    cursor: pointer;
    color: #333;
    font-size: 40px;
    background-color: transparent;
    border: none;
  }
  .info-button:focus {
    outline: none;
  }

  .menu-button {
    display: none;
    position: absolute;
    top: 10px;
    left: 95%;
    z-index: 1000;
    cursor: pointer;
    color: #333;
    font-size: 40px;
    background-color: transparent;
    border: none;
  }
  .menu-button:focus {
    outline: none;
  }

  .close-info {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 99999999; /* Certifique-se de que o botão está acima de outros elementos */
    cursor: pointer;
    color: #333;
    font-size: 20px;
    background-color: transparent;
    color: var(--txt-screen);
    border: none;
  }
  .close-info:focus {
    outline: none;
  }

.container {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.board {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    border: 5px solid black;
}

.cell {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dark {
    background-color: #8B4513;
}

.light {
    background-color: #FFDAB9;
}

.piece {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    position: relative;
}

.crown-icon {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    color: gold; 
    border: 5px #000;
}


.red {
    background-color: red;
}

.black {
    background-color: black;
}

.selected {
    border: 2px solid rgb(255, 255, 255);
}

.scoreboard {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score {
    margin-top: 10px;
}

.score span {
    margin-right: 10px;
}

#wins-panel {
    margin-top: 20px;
    padding: 10px;
    background-color: #525050;
    color: var(--txt-screen);
    border-radius: 5px;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    border: 2px solid #000;
    width: 300px;
}

#wins-panel h2 {
    margin: 0;
    font-size: 20px;
}

#wins-panel .content-score {
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#wins-panel .red-wins {
    color: red;
}

#wins-panel .black-wins {
    color: black;
}

.end{
    letter-spacing: 1px;
    text-align: center;
    padding: 20px 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

