body, html {
    height: 100%;
    margin: 0;
}

#turn-display {
    color: #fff;
    padding: 10px 10px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 30px;
    margin: 20px;
    z-index: 9999; 
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.board {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    border: 5px solid black;
}

.cell {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dark {
    background-color: #8B4513;
}

.light {
    background-color: #FFDAB9;
}

.piece {
    width: 80%;
    height: 80%;
    border-radius: 50%;
}

.red {
    background-color: red;
}

.black {
    background-color: black;
}

.selected {
    border: 2px solid rgb(255, 255, 255);
}

#welcome-screen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #f9f9f9;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
}

#welcome-screen h2 {
    margin-bottom: 20px;
}

#welcome-screen button {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#welcome-screen button:hover {
    background-color: #45a049;
}


.message-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    z-index: 9999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: none;
}

.message-box p {
    font-size: 18px;
    margin-bottom: 20px;
}

.message-box button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 10px;
}


.scoreboard {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score {
    margin-top: 10px;
}

.score span {
    margin-right: 10px;
}

#wins-panel {
    margin-top: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    border: 2px solid #000;
    width: 300px;
}

#wins-panel h2 {
    margin: 0;
    font-size: 20px;
}

#wins-panel .content-score {
    background-color: #f0f0f0;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#wins-panel .red-wins {
    color: red;
}

#wins-panel .black-wins {
    color: black;
}

.end{
    letter-spacing: 1px;
    text-align: center;
    padding: 20px 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}